body {
    background-color: Khaki;
}
p {
    font-family:sans-serif;
    font-size: 155px; 
}
.A {
    color: steelblue;
    text-align: center;
    font-family:sans-serif;
    font-size: 40px;
}
.logo {
     text-align: center;
     width: 30%;}
.Mais_acessados {
    width: 170%;
}
