body {
   background-color: Khaki;
}
.L1 {
   font-family:sans-serif;
   font-size: 30px; 
}
p {
   font-family:sans-serif;
   font-size: 15px; 
}
.A {
   background-color: steelblue;
   color: Khaki;
   text-align: center;
   font-family:sans-serif;
   font-size: 40px;
}
.logo {
   text-align: center;
   width: 30%;}
.Mais_acessados {
   width: 170%;
}
